@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes translate {
  0% {
    transform: translateY(-200px);
  }
}

.collapse {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px var(--primary) solid; 
    border-radius: var(--radius-sm);
    background-color: var(--primary);
    height: 50px;
    margin-top: var(--margin-sm);
    padding-right: 15px;
  }

  h2 {
    color: white;
    padding: 4px 4px 6px 8px;
  }

  ul {
    overflow: hidden;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .animation {
    animation: rotate 1s ease-in-out;
  }

  .translate {
    animation: translate 1s ease-in-out;
    color: black;
    padding-top: 10px;
  }

}

.fa-chevron-up {
  color: white;
}

@media (min-width: 768px) {

  .collapse {
    margin: var(--margin-md);
    width: 100%;
  }
}
